.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
}

.signup {
  height: 60vh;
  width: 40vw;
  margin-left: 28%;
  margin-top: 5vw;
}

.radio {
  display: flex;
  justify-content: space-between;
  width: 15vw;
}

.radio-element span {
  margin-left: 5px;
}

.allProblem {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.singleProblem {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}
