*{
    padding: 0;
    margin: 1vw;
    box-sizing: border-box;
}

.probnav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: gray;
    text-align: center;
}
.probnav span{
    text-align: center;
    padding: 10px;
}

.premium{
    background-color: rgb(164, 138, 102);
    border-radius: 5px;
    cursor: pointer;
}

.problems-discription{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(203, 203, 203);
}
.problems-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(174, 174, 174);
    border: 0.5px solid black;
    border-bottom: none;
    margin: 0;
}